""" The below text is a job offering that details the requirments and responseibilities of the job.
{{ linkedInContent}}

Enhance the responsibilities of the below json to include more keywords relative to the above job offering.
Ensure that the responsibilities are relevant to the job title provided and are complete sentences.
If you are provided more than one job, you must return a list of jobs with the same title as the input.

```json
{% for work in resumeData.work_experience %}
{
    "title": "{{ work.title }}",
    "responsibilities": [
        {% for responsibility in work.responsibilities %}
        "{{ responsibility }}"{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}
{% if not loop.last %}, {% endif %}
{% endfor %}
```

""" 